.item {
    height: 60px;
    margin-bottom: 2px;
}

.invoice {
    border-radius: 10px;
    height: 100%;
}

.invoice:hover {
    background-color: #e6e6e6;
}

@media (min-width:992px) and (max-width: 1400px) {
    .invoice {
        width: 70%;
    }
    .actions {
        width: 30%;
    }
}

/* Custom CSS for 'xs' screen sizes */
@media (max-width: 767px) {
    .item {
      height: 100px;
    }
}
  